[submodule "kinc"]
	path = kinc
	url = https://github.com/Paolo-Oliverio/Kinc.git
[submodule "thirdparty/entt/entt"]
	path = thirdparty/entt/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/hfsm2/hfsm2"]
	path = thirdparty/hfsm2/hfsm2
	url = https://github.com/andrew-gresyk/HFSM2.git
